* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  /* change font size to get 1rem=10px */
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 70rem;
  aspect-ratio: 1;
  background-image: url("image/bg.jpg");
  position: relative;
  overflow: hidden;
  background-size: auto 70rem;
  /* border: 1rem solid red; */
  background-repeat: repeat-y;
  animation: bgAnim 5s linear infinite;
}
.block {
  width: 18rem;
  aspect-ratio: 1;
  background-color: rgb(51, 184, 184);
  position: absolute;
  box-shadow: 0.2rem .2rem .4rem #aaa inset, -.2rem -.2rem .4rem #aaa inset;
  border-radius: 1rem;
}
.block-1 {
  top: 16rem;
  right: 44rem;
  animation: block1Anim 5s infinite linear;
  transform-origin: bottom right;
}
.block-2 {
  top: 16rem;
  right: 8rem;
  animation: block2Anim 5s infinite -2.5s linear;
  transform-origin: bottom left;
}
.ball {
  width: 12rem;
  aspect-ratio: 1;
  background-color: rgb(255, 118, 118);
  border-radius: 50%;
  position: absolute;
  left: 29rem;
  top: 22rem;
  animation: ballAnim 2.5s linear -1.5s infinite;
}

@keyframes block1Anim {
  0% {
    transform: translateY(-38rem) rotateZ(0);
    opacity: 0.5;
  }
  30% {
    transform: translateY(0) rotateZ(0);
  }
  40%,
  45% {
    transform: translateY(0) rotateZ(-180deg);
    opacity: 1;
  }
  55%,
  100% {
    transform: translateY(38rem) rotateZ(-180deg);
    opacity: 0.5;
  }
}
@keyframes block2Anim {
  0% {
    transform: translateY(-38rem) rotateZ(0);
    opacity: 0.5;
  }
  30% {
    transform: translateY(0) rotateZ(0);
  }
  40%,
  45% {
    transform: translateY(0) rotateZ(180deg);
    opacity: 1;
  }
  55%,
  100% {
    transform: translateY(38rem) rotateZ(180deg);
    opacity: 0.5;
  }
}

@keyframes ballAnim {
  0% {
    transform: translateY(-20rem) scale(0.8, 1);
  }
  45% {
    transform: translateY(0) scale(0.9, 1);
  }
  50% {
    transform: translateY(2rem) scale(1, 0.7);
  }
  60% {
    transform: translateY(-10rem) scale(0.9, 1);
  }
  100% {
    transform: translateY(-20rem) scale(0.8, 1);
  }
}

@keyframes bgAnim {
    0%{
        background-position: center 0;
    }
    100%{
        background-position: center 70rem;
    }
}